<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      [v-cloak] {
        display: none;
      }
      #root {
        font-family: monospace;
        font-weight: 600;
        font-size: larger;
      }
      img {
        display: block;
        margin: 10px;
        width: 250px;
        height: 250px;
      }
    </style>
    <div id="root" v-cloak>
      Variables list:
      <ul>
        <li>var1: {{var1}}</li>
        <li>won: {{won}}</li>
      </ul>
      <button @click="win">win!</button>
      <button @click="lose">lose!</button>
      <img
        src="https://cdn.xxl.thumbs.canstockphoto.com/canstock37095333.jpg"
        v-if="won"
        alt="you win! picture"
      />
      <img
        src="https://cdn.xxl.thumbs.canstockphoto.com/canstock38170934.jpg"
        v-else
        alt="you lose! picture"
      />
      <hr />
      <compound-component />
      <looped-images />
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            var1: 1,
            won: false,
          };
        },
        methods: {
          win() {
            this.won = true;
          },
          lose() {
            this.won = false;
          },
          clg() {
            console.log(event);
          },
        },
      });

      app.component('compound-component', {
        template: `
        <div>
          <label>Enter your first name
            <br>
            <custom-input v-model="modeledVar" :name="passedDownFName" />
          </label>
          <br>
          <label>Enter your last name
            <br>
            <custom-input
            v-model="modeledVar"
            :name="passedDownLName" />
          </label>
        </div>
        `,
        components: ['custom-input'],
        data() {
          return {
            modeledVar: 'heyo',

            passedDownFName: 'Foo',
            passedDownLName: 'Bar',
          };
        },
      });

      app.component('custom-input', {
        template: `
          <input />
          {{modelValue}}
        `,
        props: ['name'],
        computed: {
          modeledVar: {
            get() {
              return this.modelValue;
            },
            set(value) {
              this.$emit('update:modelValue', value);
            },
          },
        },
      });

      app.component('looped-images', {
        template: `
        <div>
          <img v-for="(imageObj, i) in imgArr"
          :src="imageObj.src"
          :alt="imageObj.alt"
          :key="i" />
        </div>
        `,
        data() {
          return {
            imgArr: [
              {
                src: 'http://images6.fanpop.com/image/photos/42800000/random-random-42843735-564-634.jpg',
                alt: 'man with cool glasses',
              },
              {
                src: 'http://www.mandysam.com/img/random.jpg',
                alt: 'Homer Simpson',
              },
            ],
          };
        },
      });

      app.mount('#root');
    </script>
  </body>
</html>
